# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Distribuição / build
build/
dist/
*.egg-info/
.eggs/

# ==========================
# Ambiente Virtual
# ==========================
venv/
env/
.venv/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Jupyter / Colab
# ==========================
.ipynb_checkpoints/
*.ipynb

# ==========================
# Arquivos de sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Dados grandes (opcional)
# ==========================
data/raw/
data/processed/

# ==========================
# Arquivos temporários
# ==========================
*.tmp
*.bak